.bottom_button {
    display: flex;
    // justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

    &--more {
        width: 100%;
        text-align: center;
    }
    &--more button {
        height: 65px;
        width: 436px;
        background-color: #1E78FF;
        border-radius: 10px;
        font-size: 24px;
        margin: 0 auto;
    }
    .bottom_button--up {
        height: 50px;
        text-align: end;
        margin: auto 10px;
        bottom: 150px;

        & img {
            width: 50px;
        }
    }
}