.bottom_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

    &__more {
        width: 100%;
        text-align: center;
        
        & button {
            height: 65px;
            width: 436px;
            background-color: #4ca8e6;
            border: 0;
            border-radius: 10px;
            font-size: 24px;
            margin: 0 auto;
    
            @media  all and (max-width: 600px) {
                height: 40px;
                width: 300px;
                font-size: 1em;
            }
        }
    }

    &__up {
        height: 50px;
        text-align: end;
        // right: 2%;
        bottom: 5%;
        position: fixed;

        & img {
            width: 50px;

            @media all and (max-width: 600px) {
                width: 40px;
            }
        }
    }

    &__up__no {
        display: none;
    }
}