
// ******* animation de l'image au survol de la carte *******

@keyframes mouseOver {
    0% {
        transform: rotate(0deg) scale(1);
    }

    10% {
        transform: rotate(-15deg) scale(1.1);
    }

    20% {
        transform: rotate(0deg) scale(1.1);
    }

    30% {
        transform: rotate(+15deg) scale(1.2);
    }

    40% {
        transform: rotate(0deg) scale(1.2);
    }

    50% {
        transform: rotate(-15deg) scale(1.3);
    }
    60% {
        transform: rotate(0deg) scale(1.3);
    }

    70% {
        transform: rotate(+15deg) scale(1.3);
    }

    80% {
        transform: rotate(0deg) scale(1.3);
    }

    90% {
        transform: rotate(-15deg) scale(1.3);
    }

    100% {
        transform: rotate(0deg) scale(1.3);
    }
}

// ******** 4 ANIMATIONS POUR L'AFFICHAGE DES CARTES ********

@keyframes droite {
    from { transform: translateX(-50px); }
    to   { transform: translateX(0); }
  }

@keyframes gauche {
    from { transform: translateX(50px); }
    to   { transform: translateX(0); }
  }

@keyframes haut {
    from { transform: translatey(-50px); }
    to   { transform: translatey(0); }
  }

@keyframes bas {
    from { transform: translatey(50px); }
    to   { transform: translatey(0); }
  }

.card_1 {
    animation: droite .5s;
}

.card_2 {
    animation: haut .5s;
}

.card_3 {
    animation: gauche .5s;
}

.card_4 {
    animation: bas .5s;
}

.card {
    display: block;
    float: left;
    position: relative;
    width: 23.4375%;
    margin: 20px 0.78125%;

    &_vide {
        // LANCE L'ANIMATION AU SURVOL DE LA CARTE
        &:hover > .card_vide_picture img {
            animation: mouseOver 0.3s forwards;
        }
        &_picture {
            background-color: #dedede;
            padding: 20px;

            img {
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }

        &_desc {
            top: -10px;
            padding-left: 7.2525%;
            background-color: #e4e4e4;

            p {
                font-family: Righteous, Arial, Helvetica, sans-serif;
                font-size: 20px;
                display: flex;
                align-items: center;
                letter-spacing: 0.04em;
                color: #969696;
                line-height: 40px;
            }

            h5 {
                font-family: Righteous, Arial, Helvetica, sans-serif;
                font-size: 30px;
                line-height: 43px;
                display: flex;
                align-items: center;
                letter-spacing: 0.04em;
                color: #5e5e5e;
            }

            &_abilities {
                .pill {
                    border-radius: 5px;
                    line-height: 20px;
                    max-width: 110px;
                    margin: 0 1.5625% 0 0;
                    width: 38.4375%;
                    float: left;
                    font-size: 12px;
                    text-align: center;
                }

                .insecte {
                    @include insecte;
                }

                .dragon {
                    @include dragon;
                }

                .fée {
                    @include fée;
                }

                .feu {
                    @include feu;
                }

                .spectre {
                    @include spectre;
                }

                .sol {
                    @include sol;
                }

                .normal {
                    @include normal;
                }

                .psy {
                    @include psy;
                }

                .acier {
                    @include acier;
                }

                .ténèbres {
                    @include ténèbres;
                }

                .électrik {
                    @include électrik;
                }

                .combat {
                    @include combat;
                }

                .vol {
                    @include vol;
                }

                .plante {
                    @include plante;
                }

                .glace {
                    @include glace;
                }

                .poison {
                    @include poison;
                }

                .roche {
                    @include roche;
                }

                .eau {
                    @include eau;
                }
            }
        }

    }

@media screen and (min-width: 800px) and (max-width: 1000px) {
    width: 31.4375%;
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    width: 48.4375%;
}

@media screen and (max-width: 499px) {
    width: 95%;
}
}
