.containerevolution {
    width: 95%;
    height: 410px;
    margin: 20px auto;
    border-radius: 10px 10px 10px 90px;
    background: linear-gradient(rgba(146, 146, 146, 0.4), rgba(146, 146, 146, 0.4)),
        url("../../public/assets/body_background.png");

    &__title {
        width: 100%;
        height: 50px;
        padding-top: 10px;

        & h3 {
            margin-left: 30px;
            color: white;
            font-size: 1.5em;
        }
    }

    &__mainboxcard {
        // height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__cardevo1 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 40px;

            &__evo {
                display: flex;
                flex-direction: column;
                margin-left: 30px;
                // align-items: center;

                &__picture {
                    height: 150px;
                    width: 150px;
                    // margin: auto;
                    border-radius: 50%;
                    background-color: #616161;
                    border: 4px white solid;

                    & img {
                        width: 90%;
                        height: 90%;
                        margin-left: 5px;
                        margin-top: 5px;
                    }
                }

                &__desc {
                    height: 80px;
                }

                &__desc__name {
                    display: flex;
                    justify-content: left;
                    margin-top: 20px;

                    & h5 {
                        color: white;
                        font-size: 1.2em;
                    }

                    & p {
                        color: #c2baba;
                        margin-left: 10px;
                        font-size: 1.2em;
                    }
                }

                &__desc__type {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    width: 150px;

                    &__abilities {
                        .pill {
                            border-radius: 5px;
                            line-height: 20px;
                            max-width: 110px;
                            margin: 0 1.5625% 0 0;
                            width: 200px;
                            float: left;
                            font-size: 12px;
                            text-align: center;
                        }

                        .insecte {
                            @include insecte;
                        }

                        .dragon {
                            @include dragon;
                        }

                        .fée {
                            @include fée;
                        }

                        .feu {
                            @include feu;
                        }

                        .spectre {
                            @include spectre;
                        }

                        .sol {
                            @include sol;
                        }

                        .normal {
                            @include normal;
                        }

                        .psy {
                            @include psy;
                        }

                        .acier {
                            @include acier;
                        }

                        .ténèbres {
                            @include ténèbres;
                        }

                        .électrik {
                            @include électrik;
                        }

                        .combat {
                            @include combat;
                        }

                        .vol {
                            @include vol;
                        }

                        .plante {
                            @include plante;
                        }

                        .glace {
                            @include glace;
                        }

                        .poison {
                            @include poison;
                            border-radius: 5px;

                        }

                        .roche {
                            @include roche;
                        }

                        .eau {
                            @include eau;
                        }
                    }
                }
            }

        }

        &__cardevo2 {

            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;


            &__evo {
                // margin-left: 70px;
                // margin-top: 10px;
                margin: 10px 5px 0;
                width: 180px;

                &__picture {
                    height: 150px;
                    width: 150px;
                    margin: auto;
                    border-radius: 50%;
                    background-color: #616161;
                    border: 4px white solid;

                    & img {
                        width: 90%;
                        height: 90%;
                        margin-left: 5px;
                        margin-top: 5px;
                    }
                }

                &__desc {
                    height: 80px;
                }

                &__desc__name {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;

                    & h5 {
                        color: white;
                        font-size: 1.2em;
                    }

                    & p {
                        color: #c2baba;
                        margin-left: 10px;
                        font-size: 1.2em;
                    }
                }

                
                &__desc__type {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    width: 180px;

                    &__abilities {
                        .pill {
                            border-radius: 5px;
                            line-height: 20px;
                            max-width: 70px;
                            margin: 0 1.5625% 0 0;
                            width: 100px;
                            float: left;
                            font-size: 12px;
                            text-align: center;
                        }

                        .insecte {
                            @include insecte;
                        }

                        .dragon {
                            @include dragon;
                        }

                        .fée {
                            @include fée;
                        }

                        .feu {
                            @include feu;
                        }

                        .spectre {
                            @include spectre;
                        }

                        .sol {
                            @include sol;
                        }

                        .normal {
                            @include normal;
                        }

                        .psy {
                            @include psy;
                        }

                        .acier {
                            @include acier;
                        }

                        .ténèbres {
                            @include ténèbres;
                        }

                        .électrik {
                            @include électrik;
                        }

                        .combat {
                            @include combat;
                        }

                        .vol {
                            @include vol;
                        }

                        .plante {
                            @include plante;
                        }

                        .glace {
                            @include glace;
                        }

                        .poison {
                            @include poison;
                            border-radius: 5px;

                        }

                        .roche {
                            @include roche;
                        }

                        .eau {
                            @include eau;
                        }
                    }
                }


                &__picture__max {
                    height: 80px;
                    width: 80px;
                    margin: 1px auto;
                    border-radius: 50%;
                    background-color: #616161;
                    border: 4px white solid;

                    & img {
                        width: 90%;
                        height: 90%;
                        margin-left: 5px;
                        margin-top: 5px;
                    }
                }

                &__desc__name__max {
                    display: flex;
                    justify-content: center;
                    // margin-top: 20px;

                    & h5 {
                        color: white;
                        font-size: .8em;
                    }

                    & p {
                        color: #c2baba;
                        margin-left: 10px;
                        font-size: .8em;
                    }
                }
            }

        }

        &__chevron1 {
            height: 150px;
            width: 60px;
            color: white;
            font-size: 5em;
            margin: auto 20px auto 60px;
        }

    }
}